p{
	font-size:20px;
	color: #2A6665;
}
body{
	background-color: #D68149;
	color:#2A6665;
	text-align:center;
}
h1{
	font-size:40px;
	margin-top: 250px;
}
h2{
	font-size:25px;
	font-weight:bolder;
	color:#2A6665;
}
.link-item{
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	color:#9cd;
	text-decoration:none;
	font-size: 14px;
}