p{
	font-size:20px;
	color: #666666;
}
body{
	background-color: #2D2D2D;
	color:#666666;
	text-align:center;
}
h1{
	font-size:40px;
	margin-top: 250px;
}
h2{
	font-size:25px;
	font-weight:bolder;
	color:#666666;
}
.link-item{
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	color:#666666;
	text-decoration:none;
	font-size: 14px;
}
