html{
	font-family: 'Open Sans Condensed', sans-serif;
}
p{
	font-size:20px;
	color: #666666;
}
body{
	background-color: #FF2D2D;
	color:#666666;
	text-align:center;
}
h1{
	font-size:40px;
}
h2{
	font-size: 16px;
	font-weight: bolder;
	color: #666666;
}
.link-item{
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
	color:#666666;
	text-decoration:none;
	font-size: 14px;
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
